In [1]:
print("Hello Python")

Hello Python

# Basic Mathematical Operation

#### We will learn Addition , subtraction , multiplication , division etc..

In [2]:
4+5+5+6

20

In [4]:
4*6

24

In [5]:
5-3

2

In [6]:
6/3

2.0

In [7]:
6/4

1.5

* '+ Addition
* '- Subtraction
* '* Multiplication 
* '/ division

In [8]:
4+6*3-(5/3)

20.333333333333332

In [10]:
# Bodmas : brackets, off , division , multiplication , addition, , sub

In [13]:
3+5   # We are adding here

8

### Assigning object a Value

In [14]:
x=3  # Her we are assigning 3 to x ( object)

In [15]:
x

3

In [16]:
x+6

9

In [17]:
y=10

In [18]:
x

3

In [19]:
y

10

In [20]:
x+y

13

In [21]:
x*y

30

#### Rules 

* 1. Python is Case Sensitive
* 2. To keep a name of object , you can use Letters , number and _
* 3. you can not use special characters ( space, &, %, ., #, @ etc)
* 4. Object can not start with number, It can start with letters , and _ only

In [22]:
x

3

In [27]:
ord(X)

NameError: name 'X' is not defined

In [24]:
marks_math=120

In [25]:
marks_math

120

In [26]:
Marks_math

NameError: name 'Marks_math' is not defined

In [33]:
marks_in_math =34

In [34]:
data_3=678934

In [35]:
_data=45

In [36]:
4_data=45

SyntaxError: invalid decimal literal (<ipython-input-36-8f47dfec715a>, line 1)

#### Operators in Python

In [37]:
# Arithmatic 
# +( Addition), 
# - ( subtraction), 
# * ( Multiply), 
# / ( Division) , 
# **( Exponent), 
# %( Modulus) , 
# // ( Floor Division))

In [38]:
3**2  # Exponent( Power)

9

In [40]:
4**3  # 4 to the power 3, 4 raised 3

64

In [41]:
4**(1/2)

2.0

In [43]:
16**(.5)

4.0

In [46]:
13/5  # Division

2.6

In [48]:
13 // 5  # Floor Division /

2

In [49]:
11//4

2

In [51]:
19//6

3

In [52]:
13%5  # Modulus

3

In [53]:
19%6

1

In [56]:
x=44 # Is x is even number ?
x%2

0

#### Assignment Ops

In [77]:
# 
# = Assignment Op
# +=, 
# -=, 
# *=, 
# /=, 
# %=, 
# //=, 
# **=

In [57]:
numb1=45

In [58]:
numb1

45

In [59]:
x,y=10

TypeError: cannot unpack non-iterable int object

In [60]:
x=y=49

In [61]:
x

49

In [62]:
y

49

In [63]:
z=x

In [64]:
z

49

In [65]:
numb1=45

In [66]:
numb1=50  # New Assigned value will replace the older value

In [67]:
numb1

50

In [68]:
numb1=numb1+40
numb1

90

In [70]:
x=10
x=x+5
x

15

In [72]:
y=10
y+=5   # y=y+5

In [73]:
y

15

In [74]:
d=56
d-=6  # d=d-6
d

50

In [75]:
# +=, -=, *=, /=, %=, //=, **=
g=45
g=+5
g

5

In [78]:
x=10

In [81]:
x+=20
x

70

In [106]:
y=100

In [119]:
y-=30  # y=y-30 
y

-230

In [110]:
y

40

In [120]:
# comparision Op  # Always Results in True or False
# == ( Equal)
# > ( Greater Than)
# >= (Greater than equal to)
# < ( Less than)
# <= ( less than equal to)
# != ( Not equal)

In [121]:
4==4

True

In [122]:
5==6

False

In [123]:
x=4
y=6

In [124]:
x==y

False

In [125]:
5 >6

False

In [126]:
5 <6

True

In [128]:
4 !=4

False

In [129]:
4 !=5

True

In [130]:
5 <=5

True

#### Logical Ops

In [131]:
# and
# or 
# not

In [133]:
cond1=4 >5
cond2= 6<=7

In [134]:
cond1

False

In [135]:
cond2

True

In [136]:
cond1 and cond2

False

In [137]:
cond1 or cond2

True

In [138]:
not cond2

False

In [139]:
# Special Op
# ( Membership ops , Identity Ops)
# Membership Ops ( in , not in )

In [141]:
d="John"

In [142]:
names=["Harry", "Seema", "Ganesh", "Dawn"]

In [143]:
d in names

False

In [144]:
"Merry" in names

False

In [145]:
"Dawn" in names

True

In [146]:
numb=[2,4,5,10,100, "Dawn", "John"]
2 in numb

True

In [147]:
4 not in numb

False

In [148]:
"Dawn" not in numb

False

In [149]:
# Identity Op ( is , is not)
x=2
y=2

In [150]:
x is y

True

In [151]:
x is y

True

In [155]:
x=45890
y=34
x is y

False

In [156]:
x is not y

True

In [157]:
x==y

False

In [158]:
4 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-158-9fa0859e14a8>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

In [159]:
x=4
y=4

In [160]:
x is y

True

In [161]:
4 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-161-9fa0859e14a8>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

### Data Types in Python

In [162]:
# # Number
# int,
# float,
# complex,

In [163]:
x=10
type(x)

int

In [164]:
y=10.4
type(y)

float

In [165]:
z=3+4j
type(z)

complex

In [168]:
type(x+y)

float

In [169]:
z*x

(30+40j)

In [170]:
# String

In [171]:
x="Hello"

In [173]:
type(x)

str

In [174]:
y="How are you?"

In [176]:
# x*y

In [177]:
y.upper()

'HOW ARE YOU?'

In [178]:
y.lower()

'how are you?'

In [179]:
x

'Hello'

In [181]:
# dir(x)

In [182]:
sent1='Hello Mom, How are you?'

In [183]:
sent1

'Hello Mom, How are you?'

In [184]:
sent2='Hello Mom, Where's your shoes'

SyntaxError: invalid syntax (<ipython-input-184-c169976fa602>, line 1)

In [185]:
sent2="Hello Mom, Where's your shoes"

In [186]:
sent3="Hello Mom, Where's your shoes.
My shoes are under the table"

SyntaxError: EOL while scanning string literal (<ipython-input-186-29c339bf9a77>, line 1)

In [187]:
sent4="""Hello Mom, Where's your shoes.
My shoes are under the table
bdjefdjm
mdefrgjb
mwiefhrfi
njbhdweiurfdfh7890
$%^&^%
hjkldfgb
"""

In [198]:
print(sent4)

Hello Mom, Where's your shoes.
My shoes are under the table
bdjefdjm
mdefrgjb
mwiefhrfi
njbhdweiurfdfh7890
$%^&^%
hjkldfgb

In [188]:
type(sent4)

str

In [189]:
x=4
y=5
x is y

False

In [196]:
# number1=45
# dir(number1)

In [193]:
4 == 5  #shift + enter : It will run the cell and give you the next new cel

False

In [194]:
45+6  # ctrl+enter : It will run the cell but no new cell

51

In [ ]:
a=

In [226]:
a="Dawn"
b="Casada"
a+" "+b

'Dawn Casada'

In [228]:
x=10

In [229]:
x+=5
x

15

In [231]:
# x="hello"  # HeLlO
x=45
x%2

1

In [ ]:
3+5j # 3+5i