In [2]:
#a = 10   #variable
my_country = "India"

In [4]:
a9 = 'amit'

In [10]:
import keyword
print(len(keyword.kwlist))
print(keyword.kwlist)

36
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Looping 
print("Amit")
print('Amit')


1. for loop
2. while

In [ ]:
#for loop

for variableName in sequence:
    stmt1
    stmt2
    stmt3
    stmt4
    stmtn
print()

In [ ]:
Seq can be   
1. string
2. tuple
3. list
4. dict
5. range

In [11]:
a = [11,12,13,14,15]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

11
12
13
14
15

In [19]:
a = 'Amit'
for i in a:   #[11,12,13,14,15]
    print(i,end ='\t')

A	m	i	t

In [24]:
#range(start,end-1,steps)
#range(1,)
for i in range(0,6,3):    #0,1,2,3,4,5
    print(i)

0
3

In [ ]:
#while loop
intn  (option)
while condition:
    stmt1
    stmt2
    stmt3
    updation(compulsary)

In [25]:
i=1
while i<=10:
    print('amit')
    i=i+1   #updation
    
print("I am outside of the loop")

amit
amit
amit
amit
amit
amit
amit
amit
amit
amit
I am outside of the loop

In [ ]:
range(5)    0,1,2,3,4
range(0,5)  0,1,2,3,4
range(1,5)  1,2,3,4

In [28]:
#reverse the given 3 digit nuber using while loop
n = int(input("Enter the nuber"))  #n=123, 12, 1
rev = 0                            #rev=0, 3, 32, 321
while n!=0:                        #digit = 3,2,1
    digit = n%10     #SEPARATING THE DIGITS
    rev=rev*10+digit  #logic
    n=n//10   #updation 
print(rev)

Enter the nuber234
432

In [32]:
n = input("Enter the nuber")

Enter the nuber123
123

In [42]:
print(1//10)
print(1%10)

0
1

In [45]:
#WAPC to check given number is palindrome or not 


n = int(input("Enter the nuber")) 
temp =n                           #n=123, 12, 1,0
rev = 0                            #rev=0, 3, 32, 321
while n!=0:                        #digit = 3,2,1
    digit = n%10     #SEPARATING THE DIGITS
    rev=rev*10+digit  #logic
    n=n//10   #updation 
print(rev)

if rev ==temp:
    print('Palindrome')
else:
    print('not')

Enter the nuber121
121
Palindrome

In [46]:
#Armstrong number
#153
#1+125+27=153
n = int(input("Enter the nuber")) 
temp =n                           #n=123, 12, 1,0
sum = 0                            #rev=0, 3, 32, 321
while n!=0:                        #digit = 3,2,1
    digit = n%10     #SEPARATING THE DIGITS
    sum=sum+digit**3  #logic
    n=n//10   #updation 


if sum ==temp:
    print('armstronge')
else:
    print('not')

Enter the nuber153
armstronge

# Functions

1. User defined function
2. Inbuild function

In [49]:
#2. Inbuild function

import math
math.sqrt(4)

2.0

In [50]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [54]:
math.floor(12.3)

12

In [55]:
math.e

2.718281828459045

In [ ]:
#User defined function

#1. function defination
#2. function call

#1. Function defination
#Syntax
def functionName(parameters(input to function)):
    stmt1
    stmt2
    stmt3
    stmtn

In [ ]:
#2. Function call
functionName(parameters(input to function))

In [80]:
def addition(a,b,c):
    return a+b+c
    #print('This function is doing addition of a b and c')

In [64]:
addition(2,3,4)

9
This function is doing addition of a b and c

In [66]:

addition(int(input('Enter first number')),int(input('Enter second number')),int(input('Enter third number')))

Enter first number12
Enter second number34
Enter third number1
47
This function is doing addition of a b and c

In [68]:
def Demo():
    print('Hi This is a function that doesnot take any input')

In [69]:
Demo()

Hi This is a function that doesnot take any input

In [70]:
#Returning the result
def substration(a,b,c):
    return a-b-c

In [73]:
res = substration(2,3,4)
print(res)

-5

In [74]:
print(substration(2,3,4))

-5

In [75]:
substration(2,3,4)

-5

In [83]:
def addition(a,b,c):
    return a+b+c

def substration(a,b,c):
    return a-b-c

In [82]:
print(addition(3,4,5)*substration(6,7,8))

-108

In [86]:
#by default function return None
def demo():
    pass

In [87]:
print(demo())

None

In [89]:
# Function to cal sum of three digit number


def sumDigit(n):
    sum=0
    while n!=0:
        digit = n%10
        sum=sum+digit
        n=n//10
    return sum

In [94]:
sumDigit(int(input("Enter Three Digit Number")))

Enter Three Digit Number111

3

In [6]:
#Types of Parameters
#1. Positional arg

def demo(name,msg):
    print('Hi This is {} and {}'.format(name,msg))
    
demo("Amit",'Hi')

Hi This is hi and Amit

In [13]:
#Keyword based arg

def greet(name,msg):
    print(name,msg)

greet(name="Amit",msg="Good Evening")
greet(msg="Good Evening",name="Amit")
greet("Amit",msg="Good Evening")
#greet('Good evening',name = 'Amit')   This is invalid as we are passing multiple values to name variable

Amit Good Evening
Amit Good Evening
Amit Good Evening

In [18]:
#Default arguments
def addition(a,b=0,c=0):
    return a+b+c

addition(1,2,3)

6

In [26]:
def addition(a = None,b = None, c=None):  #here a,b,and c have default value i.e None
    if a!=None and b!=None and c!=None:
        print(a+b+c)
    elif a!=None and c!=None:
        print(a+c)
    elif b!=None and c!=None:
        print(b+c)
    elif a!=None and b!=None:
        print(a+b)
    else:
        print('Provide 2 or 3 Arg')
        
addition(1,2,3)

6

In [29]:
def greet(name,msg="good eveing"):  #We should not give default arg befor normal argument.
    print(name,msg)



greet('Amir')

greet("Good evening")

greet("Amit","GE")

Amir good eveing
Good evening good eveing
Amit GE

In [31]:
#variable lenght arguments
def printnumbers(*n):
    print(type(n))
    print(n)

In [32]:
printnumbers()

<class 'tuple'>
()

In [33]:
printnumbers(1)

<class 'tuple'>
(1,)

In [34]:
printnumbers(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [36]:
#Accept N Number of natural numbers and print the sum of it
def printNumbers(*n):
    sum=0
    for i in n:
        sum+=i
    print(sum)
    
printNumbers(1,2,3)

6

In [40]:
def f1(n1,n2,*s):
    print("this is first pos arg",n1)
    print('This is second pos arg',n2)
    print("Rest all are variable lenght arg",s)
    for s1 in s:
        print(s1)
f1(2,12,13,14)

this is first pos arg 2
This is second pos arg 12
Rest all are variable lenght arg (13, 14)
13
14

In [51]:
def fun(a,b,c=4,d=8):
    print(a,b,c,d)

#fun(3,2)
#fun(11,22,33,44)
#fun(25,50,d=100)
#fun(d=11,a=22,b=3)
#fun()   #Error
#fun(a=2,b=3,2,3)   
#fun(3,4,a=2,b=3)   
#fun(4,5,a=3)  
fun(4,5,c=10,e=20)

TypeError: fun() got an unexpected keyword argument 'e'

In [5]:
#new_list = [expression for member in iterable]
squares = [i * i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#new_list = [expression for member in iterable (if conditional)]
a = [i*i for i in [1,2,3,4,5] if i%2!=0]
print(a)

[1, 9, 25]

In [9]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [11]:
sentence = 'This is Python training'
vowels = [i for i in sentence if i in 'aeiou']
print(vowels)

['i', 'i', 'o', 'a', 'i', 'i']

In [15]:
obj = ["Even" if i%2==0 else 'Old' for i in [1,2,3,4,5]]
print(obj)

['Old', 'Even', 'Old', 'Even', 'Old']

In [16]:
#original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]   HW

#We can call function in place of expression
def Cube(x):
    return x**3


l=[1,2,3,4]

a=[Cube(i) for i in l]
print(a)

[1, 8, 27, 64]

In [17]:
#anonymous function
#Function without name is called anaonymous function
#we use lambda keyword to define this function.
#Syntax
#variable = lambda variablelist: expression

a = lambda n:n*n
a(5)

25

In [23]:
b = lambda a,b,c=8:a*b*c
print(b(1,2))

16

In [20]:
def mul(a,b,c):
    print(a*b*c)
mul(4,5,6)

120

In [24]:
#find largest number from three numbers using lambda function
a=lambda a,b,c: a if a>b and a>c else b if b>c else c
print(a(2,3,4))

4

In [25]:
valuesList = [222,333,444,555,2,1]

print(max(valuesList, key=lambda value: int(value)) )

555

In [27]:
largest_number = lambda a,b,c: max(a,b,c)
largest_number(11,2,3)

11

In [32]:
#filter()
#It is used to filter the data.
# we can use it with lambda

#Syntax
#filter(function,sequence)
#Filterout the odd numbers
def isOdd(x):
    if x%2!=0:
        return True
    else:
        return False

result = list(filter(isOdd,[1,2,3,4]))
print(result)

[1, 3]

In [33]:
#filterout even numbers.
l2=list(filter(lambda x:x%2==0,[1,2,3,4]))
print(l2)

[2, 4]

In [ ]:
#Filter positive and negative numbers using filter function

In [34]:
#map(function,seq)

#For every element we perform some operation and we generate new elements.


def doublenum(x):
    return x*2

result=list(map(doublenum,[1,2,3,4]))
print(result)

[2, 4, 6, 8]

In [38]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    

result=list(map(isEven,[1,2,3,4]))
print(result)

[False, True, False, True]

In [1]:
#reduce()
#Reduce function reduces the sequence of elements into single element.
#Syntax:
#reduce(function,sequence)
#This reduce function is present in functools module.
from functools import reduce

result=reduce(lambda x,y:x+y,[1,2,3,4,6,10,1,3,4])
print(result)

#x=1,3,6,10,16,26,27,30,34
#y=2,3,4,6,10,1,3,4

34

In [ ]:
#20/08/2022
#OOP

class ClassName:
    classVariables(optioanls)
    constructor (optional)
    methods     (optional)

In [3]:
class Demo:
    """This is demo class"""
    pass

In [4]:
print(Demo.__doc__)

This is demo class

In [5]:
#write class
class Student:
    
    def accept(self):
        self.name=input("Enter name:")
        self.age=input("Enter age:")
        self.address = input("Enter address:")
        self.sal=input('Enter sal:')
        
    def display(self):
        print(self.name,self.age,self.address,self.sal)

In [7]:
#create object
#variable/object name=classname
Amit = Student()  #Create the object
Amit.accept()  #access instance method

Enter name:Amit G
Enter age:30
Enter address:India
Enter sal:10000

In [8]:
Amit.display()

Amit G 30 India 10000

In [10]:
print(Amit.name)  #access instance variable

Amit G

In [11]:
print(Amit.address)

India

In [14]:
pawan = Student() 
pawan.accept()
pawan.display()

Enter name:Pawa
Enter age:20
Enter address:US
Enter sal:10000
Pawa 20 US 10000

In [15]:
Amit.display()

Amit G 30 India 10000

In [ ]:
# Constructor 
#1. Its a speacial type of method
#2. It is used to initialize the instance variable 
#3. Only one constructor is there in python
#4. name of the constructor is __init__()
#5 syantax:
def __init__(self):
    #initializing the instance variable
# 6. it is called when we create the object.

In [17]:
class Person:
    def __init__(self):  #constructor 
        print('This is constructor')

In [19]:
p = Person()  #It automatically call constructor

This is constructor

In [26]:
class Person:
    def __init__(self):  #constructor 
        self.name=input('Enter name:')
        self.sal = input('Enter sal:')
        self.age=input('Enter age:')
    def display(self):
        print(self.name,self.sal,self.age,self.dept,self.address)
    def accept(self):
        self.dept=input('Enter Dept name:')
        self.address=input('Enter address:')

In [27]:
p = Person() 
p.accept()
p.display()

Enter name:Amit
Enter sal:1000
Enter age:20
Enter Dept name:cs
Enter address:us
Amit 1000 20 cs us

In [28]:
class Employee:
    def __init__(self,name1,sal1,age1):  #constructor 
        self.name=name1
        self.sal = sal1
        self.age=age1
    def display(self):
        print(self.name,self.sal,self.age,self.dept,self.address)
    def accept(self):
        self.dept=input('Enter Dept name:')
        self.address=input('Enter address:')

In [41]:
e = Employee('Ami',10000,30)
e.accept()
e.display()

Enter Dept name:aaa
Enter address:aaaaa
Ami 10000 30 aaa aaaaa

In [39]:
#Bank case study

class Bank:
    name = "ABC Bank"   #class variable/ static variable
    
    def __init__(self):
        self.accno=input('Enter account number:')
        self.name = input('Enter Name:')
        self.bal = 1000
    def accept(self):
        self.age=input('Enter age:')
        self.address = input('Enter address:')
    def deposite(self):
        print('Bal before deposite:',self.bal)
        self.dept_ammt = int(input('Enter ammount to be deposited:'))
        self.bal = self.bal+self.dept_ammt
        print('Bal after deposite:',self.bal)
        
    def withdraw(self):
        print('Bal Before withdraw:',self.bal)
        self.with_ammt = int(input('Enter ammount to be withdraw:'))
        if self.with_ammt>self.bal:
            print('Withdraw is not possible:')
        else:
            self.bal=self.bal-self.with_amm
        print('Bal after withdraw:',self.bal)
        
    def display(self):
        print(Bank.name,self.accno,self.name,self.bal,self.age,self.address)

In [40]:
b = Bank()
b.accept()
b.deposite()
b.withdraw()
b.display()

Enter account number:1001
Enter Name:amit
Enter age:20
Enter address:India
Bal before deposite: 1000
Enter ammount to be deposited:5000
Bal after deposite: 6000
Bal Before withdraw: 6000
Enter ammount to be withdraw:20000
Withdraw is not possible:
Bal after withdraw: 6000
ABC Bank 1001 amit 6000 20 India

In [4]:
#Types of variables in oop
#1. instance variable
#2. class/static variable
#3. local variable

class VariableDemo:
    a = 100  #class variable
    def __init__(self,b,c,d):    #here b,c,d are local variables
        self.a = 10 #Instance variable
        self.b=b
        self.c = c
        self.d = d
    def accept(self):
        VariableDemo.z=100000
        self.e = input('Enter the value of e:')
    def display(self):
        print(VariableDemo.a,self.a,self.b,self.c,self.d,self.e,VariableDemo.z)
v = VariableDemo(1,2,3)
v. accept()
v.display()
print(v.a,v.b)
print(VariableDemo.a,VariableDemo.z)

Enter the value of e:1000000
100 10 1 2 3 1000000 100000
10 1
100 100000

In [ ]:
###Characteristics of OOP###
#1. Inheritance
#2. Polymorphism 
#3. Encaapsulation
#4. Interface
#5. Abstraction

In [8]:
#1. Inheritance 
#simple inheritance
#Multilevel inheritance
#Multiple inheritance. 

#Simple Inheritance 
#Only one parent for child then it is called simple inheritance 
class Demo:
    def __init__(self):
        self.a = input('Enter number:')
        self.b=input('Enter second number:')
    def display(self):
        print(self.a,self.b)

class Child(Demo):
    def __init__(self):
        super().__init__()   #Calling the constructor of parent
        self.c = 1000
        print(self.c)
              
c = Child()
c.display()

Enter number:1
Enter second number:2
1000
1 2

In [11]:
class Person:
    def accept(self):
        self.id = input('Enter ID:')
        self.name= input('Enter name:')
        self.address = input('Enter address')
        self.age=input('Enter age:')

class Employee(Person):
    def __init__(self):
        self.emp_dept = input('Enter Emp Dept:')
        self.emp_sal = input('Enter Emp sal:')
    def display(self):
        print(self.id,self.name,self.address, self.age,self.emp_dept,self.emp_sal)

In [14]:
e = Employee()
e.accept()
e.display()

Enter Emp Dept:cs
Enter Emp sal:100000
Enter ID:1
Enter name:amt
Enter addressIndia
Enter age:20
1 amt India 20 cs 100000

In [18]:
##Multilevel Inheritance
class Person:
    def accept(self):
        self.id = input('Enter ID:')
        self.name= input('Enter name:')
        self.address = input('Enter address')
        self.age=input('Enter age:')

class Employee(Person):
        def __init__(self):
            self.emp_dept = input('Enter Emp Dept:')
            self.emp_sal = input('Enter Emp sal:')
        
class Admin(Employee):
    def __init__(self):
            self.attendance = 10
            super().__init__()
        
    def display(self):
            print(self.attendance, self.emp_dept,self.emp_sal,self.id,self.name, self.address,self.age)

In [20]:
a = Admin()
a.accept()
a.display()

Enter Emp Dept:cs
Enter Emp sal:100000
Enter ID:1
Enter name:amit
Enter addressIndia
Enter age:30
10 cs 100000 1 amit India 30

In [24]:
#Multiple Inheritance 

#Multiple parent for one child 
class Person:
    def __init__(self):
        self.id = input('Enter ID:')
        self.name= input('Enter name:')
        self.address = input('Enter address')
        self.age=input('Enter age:')

class Employee:
    def __init__(self):
        self.emp_dept = input('Enter Emp Dept:')
        self.emp_sal = input('Enter Emp sal:')
        
class Admin(Person,Employee):
    def __init__(self):
        self.attendance = 10
        Person.__init__(self)
        Employee.__init__(self)
    def display(self):
            print(self.attendance, self.emp_dept,self.emp_sal,self.id,self.name, self.address,self.age)

In [25]:
a = Admin()
a.display()

Enter ID:1
Enter name:amit
Enter addressaaaa
Enter age:30
Enter Emp Dept:cs
Enter Emp sal:100000
10 cs 100000 1 amit aaaa 30